<div class="pricetag"
  data-controller="pricetag"
  data-pricetag-url="<%= add_garment_path(garment.slug) %>"
>
  <%= simple_form_for :cart, url: "" do |f| %>
    <%= f.input_field :size,
        collection: ["S", "M", "L"],
        selected: "M",
        data: { target: "pricetag.select" }
    %>
  <% end %>

  <%= render 'shared/button', only_wrapper: true do %>
    <%= link_to "add to cart", "#", class: 'button button-pink w-100 add-to-cart', data: { target: "pricetag.button", action: "click->pricetag#add" } %>
  <% end %>
</div>
