<% content_for(:title) do %><%= @garment.name %><% end %>

<div
  data-controller="show-garment"
  data-action="
    turbolinks:load@window->show-garment#padHeader
  "
>
  <div class="garment-thumbnail bg" style="background-image: url(<%= url_for @garment.thumbnail %>)" data-target="show-garment.thumbnail">
  </div>

  <div class="garment-header" data-target="show-garment.header">
    <div class="garment-name">
      <h1><%= @garment.name %></h1>
    </div>

    <div class="garment-header-body">
      <div class="garment-info">
        <p><%= @garment.description %></p>
        <div class="price">
          <h3><%= currency(@garment.price) %></h3>
        </div>

        <p>free shipping <span class="grey"><em>*airplane noises*</em></span></p>
      </div>

      <%= render 'garments/pricetag', garment: @garment %>
    </div>
  </div>

  <div class="garment-images" data-target="show-garment.images">
    <% @garment.images.each_with_index do |image, index| %>
      <% if index == 1 %>
        <div class="garment-images-spacer"></div>
      <% end %>
      <%= image_tag image %>
    <% end %>
  </div>
</div>
