<% content_for(:title) do %><%= @garment.name %> ~ <%= @garment.category.name %><% end %>

<div class="container">
  <div class="header" style="padding-top: 50px">
    <div class="col-12 col-sm-6" style="margin-bottom: 16px; padding-right: 16px">
      <h1 class="no-margin"><%= @garment.name %></h1>
      <p><%= @garment.description %></p>
    </div>
    <div class="col-12 col-sm-6" style="margin-bottom: 16px">
      <%= render 'garments/pricetag', garment: @garment %>
    </div>
  </div>

  <% @garment.images.each do |image| %>
    <div class="col-12 col-md-12">
      <%= image_tag image.src, width: '100%', height: 'auto' %>
    </div>
  <% end %>
</div>
