<%= simple_form_for [:admin, @garment] do |form| %>
  <%= form.input :name %>
  <%= form.input :description %>
  <br>
  <%= form.input :euros %>
  <%= form.input :cents %>
  <br>
  <%= form.association :category %>
  <br>
  <label>change thumbnail</label>
  <%= form.file_field :thumbnail %>

  <label>add <strong>*new*</strong> images</label>
  <%= form.file_field :images, multiple: true %>
  <br>
  <%= form.submit "submit", class: 'button' %>
<% end %>
