<div class="navbar">
  <p><%= line_to wavedashize, root_path, class: 'wavedash' %></p>

  <p class="navbar-right">
    <% if in_admin_view? %>
      <% %w[orders garments].each do |page| %>
        <% path = send("admin_#{page}_path") %>
        <%= line_to page, path, class: cp(path) %> |
      <% end %>
      <%= line_to admin_root_path do %>
        <em>waveadmin v1.0</em>
      <% end %>
    <% else %>
      <%= line_to 'our story', story_path, class: cp(story_path) %> |
      <%= line_to 'socks', category_path('socks'), class: cp(category_path('socks')) %> |

      <%= render 'shared/link_to_cart' %>
    <% end %>
  </p>
</div>
