<% content_for(:title) do %>your cart<% end %>

<div class="flex flex-center full-height">
  <%= render 'shared/postcard' do %>
    <h1>your cart (<%= @order.count > 0 ? "#{@order.count} items" : "empty" %>)</h1>
    <br>

    <% @order.order_items.each do |oi| %>
      <%= render 'pages/cartrow', order_item: oi %>
    <% end %>

    <hr>

    <p><strong>subtotal: <span class="float-right"><%= number_to_currency(@order.subtotal) %></span></strong></p>
    <% unless @order.count > 0 %>
      <p class="text-right"><em>(duhh, it's empty)</em></p>
    <% else %>
      <br>
      <p class="text-right"><%= line_to "purchase", "#" %></p>
    <% end %>
  <% end %>
</div>
