<div class="flex flex-center full-height clouds">
  <%= render 'shared/postcard' do %>
    <h1 class="wavedash" id="title"><%= wavedashize %></h1>

    <%= render 'categories/list', categories: @categories %>

    <ul class="footnote">
      <li><%= render 'shared/link_to_cart' %></li>
      <li><%= line_to "contact", contact_path %></li>
    </ul>

    <%= image_tag 'rose.jpg', class: 'rose' %>
  <% end %>
</div>
