<div class="flex flex-center full-height">
  <%= render 'shared/postcard' do %>
    <h1 class="wavedash" id="title">wavedash</h1>

    <%= render 'categories/list', categories: @categories %>

    <ul class="footnote">
      <li><%= link_to "cart", cart_path %></li>
      <li><%= link_to "contact", "#" %></li>
    </ul>

    <%= image_tag 'rose.jpg', class: 'rose' %>
  <% end %>
</div>
