<% content_for(:title) do %><%= @category.name %><% end %>

<div class="flex flex-center full-height">
  <%= render 'shared/postcard' do %>
    <h1>our <%= @category.name %></h1>

    <% if @garments.empty? %>
      <p>
        we don't have any <%= @category.name %> right now
        <%= image_tag "https://static-cdn.jtvnw.net/jtv_user_pictures/chansub-global-emoticon-d570c4b3b8d8fc4d-24x18.png" %>
      </p>
    <% else %>
      <% @garments.each do |garment| %>
        <%= render 'garments/card', garment: garment %>
      <% end %>
    <% end %>
  <% end %>
</div>
