<% content_for(:title) do %>payment ~ checkout<% end %>

<%= render 'payment_js' %>

<div class="flex flex-center full-height">
  <%= render 'shared/postcard', column_classes: "half-height", postcard_classes: "overflow-visible" do %>
    <%= render 'shared/flashes' %>

    <h1>payment</h1>
    <br>

    <div data-controller="tabs">
      <div class="tabs">
        <a class="button" data-action="tabs#showIdeal" href="#">iDeal</a>
        <a class="button" data-action="tabs#showCreditcard" href="#">credit card</a>
      </div>

      <br>

      <div class="tabs-content">
        <div data-target="tabs.ideal">
          <%= render 'ideal' %>
        </div>
        <div data-target="tabs.creditcard">
          <%= render 'credit_card' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
